# Django
DJANGO_SECRET_KEY=
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=

# Oracle
ORACLE_DATABASE_NAME=
ORACLE_DATABASE_USER=
ORACLE_DATABASE_PASSWORD=

# MARP SQL Server
MARP_DB_DRIVER=SQL Server
MARP_DB_SERVER=
MARP_DB_PORT=1433
MARP_DB_NAME=
MARP_DB_USERNAME=
MARP_DB_PASSWORD=
