# Python cache
**/__pycache__/
**/*.py[cod]
*$py.class

# Virtual environments
/venv/
/.venv/

# Logs
/logs/
**/*.log

# Django local DB / runtime
/db.sqlite3
/*.sqlite3

# Django collected static files
/staticfiles/

# Environment files
/.env
/.env.*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Test / cache
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Uploads if not managed in git
/media/

# --- Project specific ---
*.csv
*.zip
*.map
