<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="StaticFile" />
      <add name="Python CSS" path="*.css" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="File" requireAccess="Read" />
      <add name="Python JS" path="*.js" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
      <add name="Python SVG" path="*.svg" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
      <add name="DjangoHandler" path="*" verb="*" modules="FastCgiModule"
           scriptProcessor="c:\inetpub\wwwroot\sitefolder\django_iis_env\scripts\python.exe|c:\inetpub\wwwroot\sitefolder\django_iis_env\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
    </handlers>
    <fastCgi>
      <application
        fullPath="c:\inetpub\wwwroot\sitefolder\django_iis_env\scripts\python.exe"
        arguments="c:\inetpub\wwwroot\sitefolder\django_iis_env\Lib\site-packages\wfastcgi.py"
        maxInstances="4"
        instanceMaxRequests="10000">
        <environmentVariables>
          <environmentVariable name="DJANGO_SETTINGS_MODULE" value="myproject.settings" />
          <environmentVariable name="PYTHONPATH" value="C:\inetpub\wwwroot\sitefolder\myproject" />
          <environmentVariable name="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        </environmentVariables>
      </application>
    </fastCgi>
  </system.webServer>
</configuration>
