<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\sitefolder\myproject" />
        <add key="DJANGO_SETTINGS_MODULE" value="myproject.settings" />
    </appSettings>
    <system.webServer>
        <handlers>
	        <remove name="StaticFile" />
	        <add name="Python CSS" path="*.css" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="File" requireAccess="Read" />
            	<add name="Python JS" path="*.js" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
		<add name="Python SVG" path="*.svg" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />            
		<add name="DjangoHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\inetpub\wwwroot\sitefolder\django_iis_env\scripts\python.exe|C:\inetpub\wwwroot\sitefolder\django_iis_env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
	</handlers>
    </system.webServer>
</configuration>
