@import 'variables';
@import 'mixins';

button, select {
    cursor: pointer;
}

.filter-item {
    margin: $margin;
    padding: $padding;
    //font-size: 1.5rem;
    label {
        display: block;
        margin-bottom: $padding;
        padding: 5px;
    }
    select {
        width: 100%;
        padding: $padding;
        @include border-style;
        cursor: pointer;
        @include hover-focus-border;
    }
}

.filter-item-horizontal {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center; /* 必要に応じて上下の中央揃えも行う */
    
    label {
        display: inline-block;
        margin-bottom: 0; /* 横並びでは不要 */
        margin-right: 10px; /* labelとselectの間に適当な間隔を設定 */
    }

    select {
        width: 50vw; /* 横並びでは必要に応じて調整 */
        padding: $padding;
        @include border-style;
        cursor: pointer;
        @include hover-focus-border;
    }

}

/*
.hidden {
    display: none;
}
*/

.display-none {
    display: none;
}

.hidden {
    opacity: 0; /* 完全に透明 */
    visibility: hidden; /* 見えなくするが、DOMに残す */
    transform: scale(0.9); /* 少し縮小して非表示状態を演出 */
    transition: opacity 0.3s ease, transform 0.3s ease; /* アニメーション */
}

.visible {
    opacity: 1; /* 完全に表示 */
    visibility: visible; /* 見える状態にする */
    transform: scale(1); /* 元のサイズに拡大 */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.disable-events {
    pointer-events: none;
    opacity: 0.5;
}

.margin-br {
    display: block;
    content: "";
    margin-bottom: $margin-br;
}

.sticky {
    position: sticky !important;
    top :60px;
    background-color: rgb(255, 255, 255); /* 必要に応じて背景色を設定 */
    z-index: 1000; /* 必要に応じて調整 */
}

// ボーダーの光るエフェクトの共通スタイル
%glow-border {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(236, 112, 174);
    box-sizing: border-box;
    border-radius: 4px;
    pointer-events: none;
    animation: border-glow 4.2s linear infinite;
    mask-image: linear-gradient(
        0deg, 
        rgba(0, 0, 0, 1) 25%, 
        rgba(0, 0, 0, 0) 50%, 
        rgba(0, 0, 0, 1) 75%
    );
    mask-size: 200% 200%;
}

// キーフレームアニメーション
@keyframes border-glow {
    0% {
        mask-position: 0% 0%; /* 左上 */
    }
    25% {
        mask-position: 100% 0%; /* 右上 */
    }
    50% {
        mask-position: 100% 100%; /* 右下 */
    }
    75% {
        mask-position: 0% 100%; /* 左下 */
    }
    100% {
        mask-position: 0% 0%; /* 左上に戻る */
    }
}

.overlay-right {
    visibility: hidden;
    position: absolute;
    right: -20%;
    top: 5px;
    width: 20%;
    height: 98%;
    background-color: rgb(216, 230, 252);
    border-radius: 4px 4px 4px 4px;
    z-index: 1000;
    overflow: auto;
    opacity: 0;
    transition: visibility 0s linear 0.25s, opacity 0.15s linear, right 0.25s linear;
    &.show {
        visibility: visible;
        opacity: 1;
        right: 0;
        transition-delay: 0s;
    }
}

.overlay-left {
    visibility: hidden;
    position: absolute;
    left: -20%;
    top: 5px;
    width: 20%;
    height: 98%;
    background-color: rgb(216, 230, 252);
    border-radius: 0 4px 4px 4px;
    z-index: 1000;
    overflow: auto;
    opacity: 0;
    transition: visibility 0s linear 0.25s, opacity 0.15s linear, left 0.25s linear;
    &.show {
        visibility: visible;
        opacity: 1;
        left: 0;
        transition-delay: 0s;
    }
}

#closeOverlayButton { 
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: rgb(65, 65, 65);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    &:hover {
        background-color: lighten(rgb(65, 65, 65), 10%);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    }
    &:active {
        background-color: rgb(45, 45, 45);
        box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
    }
}

.tooltip {
    z-index: 100;
    &::after {
        content: attr(data-tooltip);
        position: absolute;
        left: 30%;
        top: 100%;
        transform: translateX(-70%);
        padding: 5px 10px;
        background-color: #333;
        color: #fff;
        border-radius: 5px;
        white-space: nowrap;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        font-size: 12px;
        opacity: 0;  // 初期状態で非表示
        pointer-events: none;  // ツールチップがマウスイベントを受けないようにする
    }

    &:hover::after {
        opacity: 1;  // ホバー時に表示
    }

    &.tooltip-hidden::after {
        opacity: 0;  // JavaScriptでクラスを追加された時に非表示
    }

    &:active {
        transform: scale(0.95);   // クリック時に少し縮小
    }
}

/* 太いボーダーを定義 */
.thick-top-border {
    border-width: 1.5px 0px 0px 0px;
    border-style: solid;
    border-color: #2c3e50;
}

.base-font-size {
    //font-size: calc(1.5vw + 0.6rem);
    font-size: 1.0rem;
}

