@charset "UTF-8";
button, select {
  cursor: pointer; }

.filter-item {
  margin: 10px;
  padding: 5px; }
  .filter-item label {
    display: block;
    margin-bottom: 5px;
    padding: 5px; }
  .filter-item select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer; }
    .filter-item select:hover {
      border: 1.5px solid #6b94e2; }
    .filter-item select:focus {
      border: 2px solid #6b94e2;
      outline: none; }

.filter-item-horizontal {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  /* 必要に応じて上下の中央揃えも行う */ }
  .filter-item-horizontal label {
    display: inline-block;
    margin-bottom: 0;
    /* 横並びでは不要 */
    margin-right: 10px;
    /* labelとselectの間に適当な間隔を設定 */ }
  .filter-item-horizontal select {
    width: 50vw;
    /* 横並びでは必要に応じて調整 */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer; }
    .filter-item-horizontal select:hover {
      border: 1.5px solid #6b94e2; }
    .filter-item-horizontal select:focus {
      border: 2px solid #6b94e2;
      outline: none; }

/*
.hidden {
    display: none;
}
*/
.display-none {
  display: none; }

.hidden {
  opacity: 0;
  /* 完全に透明 */
  visibility: hidden;
  /* 見えなくするが、DOMに残す */
  transform: scale(0.9);
  /* 少し縮小して非表示状態を演出 */
  transition: opacity 0.3s ease, transform 0.3s ease;
  /* アニメーション */ }

.visible {
  opacity: 1;
  /* 完全に表示 */
  visibility: visible;
  /* 見える状態にする */
  transform: scale(1);
  /* 元のサイズに拡大 */
  transition: opacity 0.3s ease, transform 0.3s ease; }

.disable-events {
  pointer-events: none;
  opacity: 0.5; }

.margin-br {
  display: block;
  content: "";
  margin-bottom: 12px; }

.sticky {
  position: sticky !important;
  top: 60px;
  background-color: white;
  /* 必要に応じて背景色を設定 */
  z-index: 1000;
  /* 必要に応じて調整 */ }

.glow-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #ec70ae;
  box-sizing: border-box;
  border-radius: 4px;
  pointer-events: none;
  animation: border-glow 4.2s linear infinite;
  mask-image: linear-gradient(0deg, black 25%, rgba(0, 0, 0, 0) 50%, black 75%);
  mask-size: 200% 200%; }

@keyframes border-glow {
  0% {
    mask-position: 0% 0%;
    /* 左上 */ }
  25% {
    mask-position: 100% 0%;
    /* 右上 */ }
  50% {
    mask-position: 100% 100%;
    /* 右下 */ }
  75% {
    mask-position: 0% 100%;
    /* 左下 */ }
  100% {
    mask-position: 0% 0%;
    /* 左上に戻る */ } }

.overlay-right {
  visibility: hidden;
  position: absolute;
  right: -20%;
  top: 5px;
  width: 20%;
  height: 98%;
  background-color: #d8e6fc;
  border-radius: 4px 4px 4px 4px;
  z-index: 1000;
  overflow: auto;
  opacity: 0;
  transition: visibility 0s linear 0.25s, opacity 0.15s linear, right 0.25s linear; }
  .overlay-right.show {
    visibility: visible;
    opacity: 1;
    right: 0;
    transition-delay: 0s; }

.overlay-left {
  visibility: hidden;
  position: absolute;
  left: -20%;
  top: 5px;
  width: 20%;
  height: 98%;
  background-color: #d8e6fc;
  border-radius: 0 4px 4px 4px;
  z-index: 1000;
  overflow: auto;
  opacity: 0;
  transition: visibility 0s linear 0.25s, opacity 0.15s linear, left 0.25s linear; }
  .overlay-left.show {
    visibility: visible;
    opacity: 1;
    left: 0;
    transition-delay: 0s; }

#closeOverlayButton {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #414141;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); }
  #closeOverlayButton:hover {
    background-color: #5b5b5b;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); }
  #closeOverlayButton:active {
    background-color: #2d2d2d;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3); }

.tooltip {
  z-index: 100; }
  .tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 30%;
    top: 100%;
    transform: translateX(-70%);
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: 12px;
    opacity: 0;
    pointer-events: none; }
  .tooltip:hover::after {
    opacity: 1; }
  .tooltip.tooltip-hidden::after {
    opacity: 0; }
  .tooltip:active {
    transform: scale(0.95); }

/* 太いボーダーを定義 */
.thick-top-border {
  border-width: 1.5px 0px 0px 0px;
  border-style: solid;
  border-color: #2c3e50; }

.base-font-size {
  font-size: 1.0rem; }

.status-text {
  font-size: 14px; }

form {
  display: none; }

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; }
  table thead th {
    position: sticky;
    top: 0;
    border-bottom: 1px solid #f0eded;
    background-color: white;
    color: black; }
  table tr.alarm {
    background-color: #ff8e8e; }

th {
  position: relative;
  text-align: left;
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

td {
  text-align: left;
  padding-left: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

tr > *:last-child {
  border-right: none; }

tbody tr:hover {
  cursor: pointer;
  background-color: #e8f4fc; }

button {
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-align: center; }
  button:hover {
    background-color: #e8f4fc;
    color: #202020; }
  button:active {
    transform: scale(0.95); }

.desktop-table tr:hover {
  background-color: #e8f4fc; }

.desktop-table .no-touch {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.3);
  /* 見た目の視認性向上のために半透明化もおすすめ */
  cursor: not-allowed; }

.resizer {
  width: 5px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  cursor: col-resize;
  user-select: none; }

.grid-title {
  margin: 0.8em 0;
  color: #333; }

.t-center {
  text-align: center;
  margin: 0.8em 0; }

.t-left {
  text-align: left;
  margin: 0.8em 0; }

.child-grid {
  display: grid; }

.row1 {
  grid-row: 1;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1), 6px 6px 12px rgba(0, 0, 0, 0.08);
  /* 拡散した影 */ }

.progress-grid, .personal-grid {
  padding-left: 8px;
  padding-right: 8px; }

.personal-grid {
  position: relative;
  height: 100%; }
  .personal-grid .personal-progress-header {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap; }

.personal-progress-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-45%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* 左揃えにする */
  padding: 20px;
  border-radius: 10px; }
  .personal-progress-container .unit {
    margin-left: 3px; }

.progress-radio {
  display: flex;
  align-items: center;
  /* 縦方向の中央揃え */
  margin-bottom: 15px;
  /* 各行の間にスペースを追加 */ }
  .progress-radio .progress-radio-label {
    width: 250px;
    /* ラベルの固定幅を設定して位置を揃える */
    text-align: right;
    /* テキストを右揃え */
    margin-right: 10px;
    /* ラベルと値の間にスペースを追加 */
    font-size: 24px; }
  .progress-radio .progress-values {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 24px; }

.childlist-display {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 10px; }

.header-and-buttons {
  display: flex;
  align-items: center; }

.childlist-display-header-conteiner {
  flex: 1; }

.buttons-container {
  display: flex;
  align-items: center;
  gap: 5px; }

.filter-btn {
  width: 28px;
  height: 28px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  position: relative; }
  .filter-btn .count {
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

#btnWaiting {
  background-color: rgba(173, 173, 173, 0.2); }
  #btnWaiting.active {
    background-color: #adadad; }

#btnPending {
  background-color: rgba(0, 204, 102, 0.2); }
  #btnPending.active {
    background-color: #00cc66; }

#btnApproval {
  background-color: rgba(255, 215, 0, 0.2); }
  #btnApproval.active {
    background-color: gold; }

#btnDelayed {
  background-color: rgba(221, 53, 53, 0.2); }
  #btnDelayed.active {
    background-color: #dd3535; }

#btnCompletion {
  background-color: rgba(9, 101, 193, 0.2); }
  #btnCompletion.active {
    background-color: #0965c1; }

#btnRejected {
  background-color: rgba(255, 153, 153, 0.2); }
  #btnRejected.active {
    background-color: #ff9999; }

#tableScroll {
  overflow: auto; }

.practitioner-name-row {
  overflow-x: auto;
  white-space: nowrap;
  display: inline-block;
  text-overflow: clip; }

.row2 {
  grid-row: 2;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1), 6px 6px 12px rgba(0, 0, 0, 0.08);
  /* 拡散した影 */ }

.group-schedule {
  grid-column: 1 / -1;
  /*1行目から最後まで拡張して1列にする*/
  overflow: hidden; }

#groupScheduleTitle {
  padding-left: 8px; }

#workContenxt {
  padding-left: 16px; }

.gantt-container-parent {
  display: flex;
  overflow: hidden; }

#gantt {
  max-width: 100%;
  overflow-y: auto; }

#gantt, .assignee-container {
  flex-grow: 1; }

.grid-title {
  flex: 1.4; }

.filter-item {
  display: flex;
  align-items: center;
  margin: 0; }
  .filter-item .select-label {
    margin: 0;
    padding-right: 5px;
    text-align: right;
    font-size: 14px; }
  .filter-item .select-select {
    width: 100%;
    font-size: 14px; }
  .filter-item .schedule-label, .filter-item .schedule-label {
    flex: 0 0 auto;
    /* ラベルの幅を自動で調整し、折り返しを防止 */ }
  .filter-item .select-select, .filter-item .schedule-select {
    flex: 1;
    /* セレクトボックスが利用可能なスペースを占めるように設定 */ }

@media (max-width: 576px) {
  .child-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 8px; }
    .child-grid .row1 {
      display: none; }
    .child-grid .row2 {
      display: none; } }

@media (min-width: 993px) and (max-width: 1200px) {
  .child-grid {
    grid-template-columns: 0.7fr 0.7fr 1fr;
    grid-template-rows: 2.5fr 3fr;
    gap: 15px;
    width: 100%; }
    .child-grid .chart-container {
      padding-bottom: 10px; } }

@media (min-width: 1201px) {
  .child-grid {
    grid-template-columns: 0.6fr 0.4fr 1fr;
    grid-template-rows: 2.5fr 3fr;
    padding: 15px;
    gap: 15px;
    width: 100%; }
    .child-grid .chart-container {
      padding-bottom: 10px; }
    .child-grid .mobile-content {
      display: none; } }

.mobile-content .section-title {
  position: relative;
  padding-left: 12px;
  padding-bottom: 12px; }
  .mobile-content .section-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc; }
  .mobile-content .section-title.not-first {
    padding-top: 20px; }

.mobile-content .progress-ul {
  position: relative;
  padding-left: 17px;
  font-size: 18px;
  list-style-type: none; }
  .mobile-content .progress-ul .progress-li {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 0.8em;
    border-bottom: 1px dashed #ccc;
    transition: background-color 0.2s ease; }
    .mobile-content .progress-ul .progress-li.active {
      background-color: #d3d3d3; }
    .mobile-content .progress-ul .progress-li .maker {
      padding-right: 12px;
      background: linear-gradient(transparent 65%, #a8d4ff 65%); }
      .mobile-content .progress-ul .progress-li .maker.maker-alarm {
        background: linear-gradient(transparent 65%, #fc5858 65%); }
    .mobile-content .progress-ul .progress-li .progress-li-text {
      display: inline-block;
      margin-left: 12px; }

.mobile-content h3 {
  font-size: 18px; }

.mobile-table {
  overflow-y: auto; }
  .mobile-table table {
    border: none;
    padding-left: 12px;
    font-size: 16px; }
    .mobile-table table tr > * {
      border: none;
      border-right: none;
      border-bottom: 1px dashed #ccc;
      background-color: transparent;
      padding-top: 15px;
      padding-bottom: 15px; }
  .mobile-table .start-date-row,
  .mobile-table .start-time-row,
  .mobile-table .control-name-row {
    display: table-cell;
    vertical-align: top; }

.task-time-line-title .task-time-line-span-text {
  margin-left: 12px; }

/*# sourceMappingURL=home.css.map */