@import 'variables';


@mixin border-style($width: 1px, $color: $border-color, $radius: $border-radius) {
    border: $width solid $color;
    border-radius: $radius;
}

@mixin hover-focus-border {
    &:hover {
        border: 1.5px solid $border-color-hover;
    }
    &:focus {
        border: 2px solid $border-color-hover;
        outline: none;
    }
}

//レスポンシブデザイン用のミックスインを定義
@mixin respond-to($point, $mode: down, $until: null) {
    $val: map-get($bps, $point);
    @if $mode == down {
        @media (max-width: #{$val - 1}) { @content; }
    } @else if $mode == up {
        @media (min-width: #{$val}) { @content; }
    } @else if $mode == between and $until != null {
        $to: map-get($bps, $until);
        @media (min-width: #{$val}) and (max-width: #{$to - 1}) { @content; }
    }
}