@import 'common';

.parent-filterarea {
    position: relative;
    display: flex;
    height: 100%;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

.filter-container {
    z-index: 900;
    //position: relative;
    position: absolute;
    top: 20;
    left: 0;
    height: calc(100% - 40px);
    background-color: #ebeded;
    border-radius: 6.5px;
    width: 2.5vw;
    margin-right: 6.5px;
    transition: width 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); /* スムーズなアニメーション */
    flex-shrink: 0; /* 幅を固定する */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* 初期状態でスクロールバーを非表示 */
    &:hover {
        width: 20vw;
        box-shadow: 5px 0px 12px rgba(0, 0, 0, 0.3);
        overflow-y: auto; /* 必要に応じてスクロールを許可 */
    }
}

#workcontents {
    margin-left: calc(2.5vw + 10px);
    flex: 1;
    transition: margin-left 0.5s ease;; /* スムーズに幅を調整 */
    position: relative;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
    overflow: hidden;
}

svg {
    width: 24px;
    height: 24px;
    circle,
    path {
        transition: stroke 0s ease, fill 0.4s ease;
    }
    &.active {
        circle {
            stroke: #4CAF50;
        }
        path {
            stroke: #4CAF50;
        }
        &:hover {
            circle {
                fill: #4CAF50;
            }

            path {
                stroke: white;
            }
        }
    }
}


.visually-hidden { 
    position: fixed;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip-path: inset(50%);
    border: 0;
}

$border-radius: 1.4px;
$border-color: rgb(204, 204, 204);

.btn {
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    &:active {
        transform: scale(0.95); /* 押した感を出すために少し縮小 */
    }

    &.btn-approve {
        background-color: #4CAF50;
        &:hover {
            background-color: darken(#4CAF50, 15%)
        }
        &:active {
            background-color: darken(#4CAF50, 20%); /* クリック時に色をさらに暗く */
        }
    }
    &.btn-reject {
        background-color: #df444c;
        &:hover {
            background-color: darken(#df444c, 15%)
        }
        &:active {
            background-color: darken(#df444c, 20%); /* クリック時に色をさらに暗く */
        }
    }

}

textarea {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.table-scroll {
    width:100%;
    height: 100%;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: $border-radius;
    table-layout: fixed;
    thead th {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: rgb(255, 255, 255);
    }
    td, th {
        white-space: nowrap; /* セル内での改行を防止 */
        overflow: hidden; /* 内容が長い場合に隠す */
        text-overflow: ellipsis; /* 内容が長い場合は「...」で切り詰め */
    }
    tr.odd {
        background-color: rgb(255, 255, 255);
    }
    tr.even {
        background-color: rgb(236, 253, 220);
    }
    tr.alarm {
        background-color: rgb(255, 142, 142);
    }

    }

th {
    color: black;
    text-align: left;
    padding: 5px;
    height: 40px;
    &:first-child {
        border-top-left-radius: 8px;
    }

    &:last-child {
        border-top-right-radius: 8px;
    }
}

td {
    text-align: left;
    padding-left: 5px;
    textarea {
        display: block; /* ブロックレベル要素として表示 */
        width: 100%;
        box-sizing: border-box;
        padding: 5px;
        &:hover {
            border: 1.5px solid #6b94e2;
        }
        &:focus {
            border: 2px solid #6b94e2;
            outline: none;
        }
    }
}

tr > * {
    border: none;
    border-bottom: 1px solid $border-color;
}


tbody tr:hover {
    cursor: pointer;
    background-color: rgba(175, 175, 184, 0.425);
}

.approve-reject-column {
    text-align: center;
    vertical-align: middle; 
    .approve-button {
        padding: 0;
        padding-left: 3px;
        vertical-align: middle;
        border: none;
        background: none;
        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
            &::after {
                opacity: 0;  // JavaScriptでクラスを追加された時に非表示
            }
        }
    }
}

.approve-reject-row {
    text-align: center;
    padding-left: 0;
    margin: auto;
}

.comment-row {
    padding-top: 3.5px;
    padding-right: 3.5px;
    padding-bottom: 3.5px;
}

.resizer {
    width: 5px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: col-resize;
    user-select: none;
}

.mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
