{% load sass_tags %}
{# Build manifest only. This template is never rendered by an application view. #}
{% sass_src 'css/base.scss' %}
{% sass_src 'css/header.scss' %}
{% sass_src 'css/footer.scss' %}
{% sass_src 'css/gantt.scss' %}
{% sass_src 'css/login.scss' %}
{% sass_src 'css/mobilLedger.scss' %}
{% sass_src 'css/mobileInspectionList.scss' %}
{% sass_src 'css/achivements.scss' %}
{% sass_src 'css/pages/workContents.scss' %}
{% sass_src 'css/pages/schedule.scss' %}
{% sass_src 'css/pages/plannedMaintenance.scss' %}
{% sass_src 'css/pages/parts_search.scss' %}
{% sass_src 'css/pages/inspectionStandards.scss' %}
{% sass_src 'css/pages/home_dashboard.scss' %}
{% sass_src 'css/pages/home.scss' %}
{% sass_src 'css/pages/csvDownload.scss' %}
{% sass_src 'css/pages/card_work.scss' %}
{% sass_src 'css/pages/mycard.scss' %}
{% sass_src 'css/pages/planScheduling.scss' %}
{% sass_src 'css/components/drawer/_drawer.scss' %}
